<header class="ui fluid grid">
  <div class="two wide column">
  </div>

  <div class="eight wide column">
    <a href="/" class="logo">
      <h1>
        <span style="font-weight:600;">double</span>vision
      </h1>
    </a>
  </div>
</header>