{{>home-header}}

<div class="ui stackable grid">
  <div class="backdrop sf-skyline sixteen wide column">
    <div class="backdrop-words one wide column center">What is Base Income?</div>
  </div>
  <div class="backdrop-cover"></div>

  <div class="two wide column">
  </div>

  <div class="eight wide column">
    <article>
      <section>Giving $500-1000 a month for a year to a person changes what they can aspire to. It creates the conditions for shelter, hygiene and health, which are necessary for employment. With a stable base income, they can focus on getting back up on their feet.  People will have sufficient money, food, time, and be able to do things that make a human feel complete and whole, and to live a fulfilled life.</section>

      <!-- <section>Want to change the world? Sign up below and we'll be in touch.</section> -->
    </article>
  </div>
</div>