{{>home-header}}

<div class="ui stackable grid">
  <div class="backdrop sf-skyline sixteen wide column">
    <div class="backdrop-words one wide column center">Send Apps &amp; Links to yourself</div>
    <div class="backdrop-words">Instantly from the Web to your phone.</div>
    <div class="backdrop-words sixteen wide column ac" style="text-transform:uppercase;"><button class="ui button blue">Download Chrome Extension</button></div>
  </div>
  <div class="backdrop-cover"></div>
</div>

<div class="ui stackable grid">

</div>

<div class="ui stackable grid">
  <div class="sixteen wide column ac dark-box" style="background-color:black; height: 120px; color:#fff;vertical-align:center; margin-bottom: 0; padding-top:15px;font-size:42px;font-weight:500;">Double Your Downloads, <br /><a href="javascript:;" style="color:#fff; text-decoration:underline;">Enable Your Website</a> to Sync with User's Phones.</div>
  <div class="backdrop double-vision-image sixteen wide column">
  </div>
</div>

